body{
	background-color: white;
	text: black;
	link: blue;
	vlink: navy;
	alink: aqua;
	margin-left: 10%;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	padding: 1%;
	border-color: #99CCCC;
	border-width: 5pt;
	border-style: double;
}
h1{
	border-bottom: #99CCCC 5pt double;
	font-size: xx-large;
	padding-left:1%;
	padding-right:1%;
	padding-top:1%;
	padding-bottom:1%;
}
h1.maria:before{
	content: "マリア様がみてるショートストーリー "; 
	font-size: small;
	font-weight: normal;
}
h1.kanon:before{
	content: "Kanonショートストーリー "; 
	font-size: small;
	font-weight: normal;
}
h1.kanon-wazawai-sayuri:before{
	content: "Kanonショートストーリー 降りかかる災い・倉田佐祐理編"; 
	font-size: small;
	font-weight: normal;
}
h1.kanon-wazawai-sayuri-if:before{
	content: "Kanonショートストーリー 降りかかる災い・倉田佐祐理編 if..."; 
	font-size: small;
	font-weight: normal;
}
h1.ktcg:before{
	content: "KanonTCGショートストーリー "; 
	font-size: small;
	font-weight: normal;
}
h2{
	font-size: large;
	font-weight: bold;
	padding-left: 1em;
	border-bottom: teal 1pt solid; 
	border-left: teal 1.0em solid;
}
h3{
	font-size: medium;
	padding: 1pt 1pt 1pt 1pt;
	border-bottom-color: teal;
	border-bottom-width: 1pt;
	border-bottom-style: solid;
}
h3:before{
	content: "# ";
	color: teal;
}
h3.footnote{
	border-top: #99CCCC 5pt double;
	border-bottom: white 0pt solid;
	padding: 1%;
}
h3.footnote:before{
	content: "＜";
	color: black;
}
h3.footnote:after{
	content: "＞";
	color: vlack;
}
h4{
	font-weight: bold;
}
h4.end{
	text-align: right;
	padding-left: 5%;
	padding-right: 20%;
}
p{
	text-indent: 1em;
	margin: 0pt 0pt 1pt 1pt;
}
p.authority{
	font-size: x-small;
}
p.authority:before{
	content: "*";
}
p.header{
	border-top-color: black;
	border-top-width: 1.0em;
}
p.footer{
	border-top: gray 5pt double;
	text-align:center;
}
p.note{
	border-top: gray 5pt double;
	border-bottom: gray 5pt double;
	padding-top:1%;
	padding-bottom:1%;
}
strong{
	font-weight: bold;
	font-style: italic;
	color: red;
}
em{
	font-style: italic;
	color: red;
}
a.title:before{
	content: "「"
}
a.title{
	font-style: normal;
}
a.title:after{
	content: "」"
}
/* logical usage : iタグはリンク先コンテンツ作成日などの注釈に用いる */
i:before{
	content: "（";
}
i{
	font-size:small;
}
i:after{
	content: "）";
}
li{
	padding: 2pt;
}
span{
	font-size:small;
}
/* 全属性に適応できるクラス */
.hidden{
	color: white;
}

/* rubyタグ(ひらひらのひらがなめがね　より) */
ruby {
  display:inline-table;
  text-align:center;
  white-space:nowrap;
  text-indent:0;
  margin:0;
  vertical-align:-20%;
}

/* ルビベース */
ruby>rb,ruby>rbc {
  display:table-row-group;
  line-height:120%;
}

/* 前側ルビテキスト */
ruby>rt,ruby>rbc+rtc {
  display:table-header-group;
  font-size:70%;
  line-height:40%;
  letter-spacing:0;
}

/* ルビ括弧 */
rp {
  display:none;
}
