# BEGIN Lolipop [ http://lolipop.jp/manual/blog/wp-htaccess/ ]

<Files wp-login.php>
ErrorDocument 403 /lolipop_service_documents/wp-login-deny.html
Order deny,allow
Deny  from all
Allow from elder-alliance.mydns.jp
Allow from .tokyo.ocn.ne.jp 
</Files>

# END Lolipop
